/*---------------------------------------------------------------------------------------------Estilização*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One|Spicy+Rice');
@font-face{
    font-family: ShabashPro-Bold;
    src: url('../fonts/ShabashPro-Bold.otf');
} 

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
    font-family: ShabashPro-Bold,'Spicy Rice', cursive;
}

h2{
    color: #fa0000;
}

h3{
    color:#FF3F1F;
}

p{
    font-family: ShabashPro-Bold, 'Spicy Rice', cursive;
}

body{
    background-size:  auto;
    backface-visibility: visible;
    animation-delay: 0.3s;
}

.cabecalho{
    width: 100%;
    min-height: 620px;
    max-height: 80%;
    padding-top: 15%;
    background-image: url("../img/imagens-genericas/hamburguers.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.menu-principal{
    font-family: ShabashPro-Bold,'Spicy Rice', cursive;
    margin: 0;
    padding: 0;
    background-color:rgba(70, 50, 16, 0.8);
    position: fixed;
    z-index: 900;
}

.menu-principal ul li a{
    color: #ffc014;
}


.conteudo{
    align-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
}

.principal{
    width: 100%;
    padding: 3%;
}

.sobre{
    width: 75%;
    margin: 5% auto;
    padding: 3px;
    text-align: justify;
}

.icones{
    font-size: 3em;
    color: #e21001d3;
}

.cardapio{
    height: 600px;
}

.cardapio h3{
    text-align: center;
    margin-bottom: 2%; 
    margin-top: 3%;
}

.topo-tab{
    background-color: rgba(0, 0, 0, 0.0)
}

.letras{
    color: #fffb10;
}

.quests{
    margin-top: 100px;
    min-height: 300px;
}

.q-content{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5%;
    border-radius: 15px;
}

.contato{
    padding: 3%;
    background-color: aquamarine;
    margin-bottom: -20px;
}

.contato h3{
    margin-top: 4%;
    margin-bottom: 10%; 
}

.localiza{
    margin: 0;
    max-width: 100%;
    padding: 0;
}

@media only screen and (max-width: 420px){
    .rodape{
        margin-top: -20px;
    }

    .iframe-responsivo {
        width: 100%;
        position: relative;
        margin: 0;   
    }

    .contato{
        margin: 0;
        padding: 0;
    }
    .localiza{
        padding: 0;
        margin: 0;
    }
    .conteudo{
        margin-top: 25%;
    }
}


